<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-black px-4 pt-3 position-relative z-3">
  <div class="container-fluid">
    <a class="logo-gameshop" href="#"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="d-flex align-items-center ms-auto">
        <a href="#" class="nav-link text-white"><i class="bi bi-cart fs-4"></i></a>
        <a href="#" class="nav-link text-white"><i class="bi bi-person-circle fs-4"></i></a>
      </div>
    </div>
  </div>
</nav>

<!-- Platform selector -->
<div class="platform-wrapper">
  <div class="platform-selector mx-auto">
    @for (platform of platforms; track $index) {
      <div class="platform-button"
           [ngClass]="{ 'active-platform': selected === platform.name }"
           (click)="selectPlatform(platform.name)">
        <i [class]="platform.icon"></i> {{ platform.label }}
      </div>
    }
    <button class="btn btn-danger rounded-circle">
      <i class="bi bi-search text-white"></i>
    </button>
  </div>
</div>