
<div class="d-flex flex-column justify-content-between h-100 main-content">
  <div class="position-relative bg-very-dark d-flex align-items-center justify-content-center highlights-container">
    <div class="position-absolute z-1 w-100 top-0 header-top-gradient"></div>
    @if(games()[0]; as game){
      <picture class="parallax position-absolute top-0 bottom-0 right-0 left-0 d-flex justify-content-center ">
        <img  [src]="game.backgroundImage" [alt]="game.titleVideogame" class="h-100 w-100 object-cover">
      </picture>
      <div class="d-flex flex-column g-30 align-items-start align-self-center text-white max-w-1200 w-100 z-1">
        <span class="banner-title smaller z-2">
          {{game.titleVideogame}}
        </span>
        <div class="d-flex align-items-center g-30">
          <span class="z-2 discount-price">
            - {{game.discount}}%
          </span>
          <span class="price-header z-2">{{game.discountedPrice | currency: 'EUR'}}</span>
        </div>
      </div>
      <a class="position-absolute full-link" [routerLink]="['/videogame',game.idVideogame]" aria-label=""></a>
    }
  </div>

  <!-- Trendings -->
  <div class="text-white d-flex flex-column align-self-center h-100 w-100 max-w-1200 z-1">
     <div class="w-100 max-w-1200 mb-4 d-flex justify-content-between align-self-center align-items-center">
      <a [routerLink]="['/trendings']" title="In tendenza" class="d-flex align-items-center text-white text-decoration-none">
        <h2 class="headline fw-bold">In tendenza</h2>
        <i class="bi bi-chevron-right"></i>
      </a>
    </div>

    <div class="d-flex flex-wrap justify-content-center position-relative flex-gap-30">
      @for (game of games().slice(0, 9); track game.idVideogame) {
        <div class="card bg-card d-flex flex-column position-relative z-1 column-flex-card">
          <a class="cover text-white text-decoration-none"
            [routerLink]="['/videogame',game.idVideogame]"
            title="{{game.titleVideogame}}"
          >
            <picture>
              <img [src]="game.coverImage"
                  class="w-100 h-100 object-fit-cover overflow-hidden rounded shadow-sm"
                  [alt]="game.titleVideogame"
                  style="transition: transform 0.3s ease;">
            </picture>
            @if(game.platforms != 'PC'){
              <div class="position-absolute z-1  platform">
                @if(game.platforms.includes('PlayStation')){
                  <i class="bi bi-playstation playstation fs-4"></i>
                }@else if (game.platforms.includes('Xbox')) {
                  <i class="bi bi-xbox fs-4"></i>
                }@else if (game.platforms.includes('Nintendo')) {
                  <i class="bi bi-nintendo-switch fs-4"></i>
                }
              </div>
            }
            @if ((game.discount) > 0) {
              <div class="discount position-absolute text-white small  z-2">
                - {{ game.discount }}%
              </div>
            }
          </a>
          <div class="d-flex position-relative gap-7 z-1">
            <div class="d-flex align-items-center name">
              <span class="text-white title" title="{{ game.titleVideogame }}">
                {{ game.titleVideogame }}
              </span>
            </div>

            <div class="price text-white">
              {{ game.discountedPrice | currency: 'EUR' }}
            </div>
          </div>
        </div>
      }
    </div>

    @if (games().length === 0) {
      <p class="text-center text-muted mt-4">Nessun gioco disponibile.</p>
    }
  </div>

  <div class="text-white d-flex flex-column align-self-center h-100 w-100 max-w-1200 z-1">
    <div class="w-100 max-w-1200 mb-4 d-flex justify-content-between align-self-center align-items-center">
      <a [routerLink]="['/best-sellers']" title="In tendenza" class="d-flex align-items-center text-white text-decoration-none">
        <h2 class="headline fw-bold">Più venduti</h2>
        <i class="bi bi-chevron-right"></i>
      </a>
    </div>

    <div class="d-flex flex-wrap justify-content-center position-relative flex-gap-30">
      @for (game of bestSellerGames().slice(0,9); track game.idVideogame) {
        <div class="card bg-card d-flex flex-column position-relative z-1 column-flex-card">
          <a class="cover text-white text-decoration-none"
            [routerLink]="['/videogame', game.idVideogame]"
            title="{{game.titleVideogame}}"
          >
            <picture>
              <img [src]="game.coverImage"
                  class="w-100 h-100 object-fit-cover overflow-hidden rounded shadow-sm"
                  [alt]="game.titleVideogame"
                  style="transition: transform 0.3s ease;">
            </picture>
            @if(game.platforms && game.platforms != 'PC'){
              <div class="position-absolute z-1 platform">
                @if(game.platforms.includes('PlayStation')){
                  <i class="bi bi-playstation playstation fs-4"></i>
                }@else if (game.platforms.includes('Xbox')) {
                  <i class="bi bi-xbox fs-4"></i>
                }@else if (game.platforms.includes('Nintendo')) {
                  <i class="bi bi-nintendo-switch fs-4"></i>
                }
              </div>
            }
            @if ((game.discount) > 0) {
              <div class="discount position-absolute text-white small  z-2">
                - {{ game.discount }}%
              </div>
            }
          </a>
          <div class="d-flex position-relative gap-7 z-1">
            <div class="d-flex align-items-center name">
              <span class="text-white title" title="{{ game.titleVideogame }}">
                {{ game.titleVideogame }}
              </span>
            </div>

            <div class="price text-white">
              {{ game.discountedPrice | currency: 'EUR' }}
            </div>
          </div>
        </div>
      }
    </div>

    @if (games().length === 0) {
      <p class="text-center text-muted mt-4">Nessun gioco disponibile.</p>
    }
  </div>

</div>
