:host {
  --color-primary: #ff5400;
  --color-accent: #ffa700;
  --color-bg-dark: #1e1e1e;
  --color-bg-input: #2a2a2a;
  --color-white: #ffffff;
  --fire-gradient: linear-gradient(10deg, #ff8a15, #ff3131);
  --fire-gradient-hover: linear-gradient(10deg, #ffac15, #ff3131);
}

.form-control {
  background-color: var(--color-bg-input);
  color: var(--color-white);
  border: 0;
  border-radius: 0.5rem;
  height: 58px;
  box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .3);
}

.form-control::placeholder {
  color: #fff !important;
  opacity: 1;
}

.form-control:focus,
.form-control:hover {
   box-shadow: inset 0 0 0 2px var(--color-primary);
}

.form-control.is-invalid {
  border-color: #ff3333 !important;
  box-shadow: 0 0 6px #ff3333;
}

small.text-danger {
  font-size: 0.85rem;
}

.btn-warning {
  background: var(--fire-gradient);
  color: var(--color-white);
  height: 56px;
}

.btn-warning:hover,
.btn-outline-warning:hover {
  background: var(--fire-gradient-hover);
  color: var(--color-white);
}
